@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #235bf7;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 5;
}
.curso-card{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card{
    margin: 15px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 1px 1px 5px #000000;
}
.card img{
    border-radius: 50px;
    display: block;
    margin: 20px auto;
    height: 160px;
}
.card h1{
    color: #000000;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}
.card:hover{
    background-color: #4f9cf9;
    scale: 1.1;
}
.veja-mais{
    text-align: center;
    margin: 30px;
}
.veja-mais a{
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    transition: 0.5s;
    box-shadow: 1px 1px 5px #000000;
}
.veja-mais a:hover{
    background-color: #4f9cf9;
    scale: 1.1;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: #ffffff;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a::after{
    content: "";
    background-color: #ffffff;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width:100%;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-txt{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-txt h1{
    font-size: 96px;
    color: #ffffff;
}
.banner .banner-txt p{
    font-size: 30px;
    color: #ffffff;
    font-weight: lighter;
    margin: 18px 0;
}
.footer{
    background-color: #235bf7;
    text-align: center;
    margin: 0;
}
.footer i{
    color: #57c1ff;
    margin: 20px 5px;
    font-size: 19px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s;
}
.footer i:hover{
    color: #ffffff;
}
.integrante{
    margin: 100px 0;
}
.integrante .container{
    margin: 30px 0;
    display: flex;
    align-items: center;
}
.integrante .inte-txt{
    width: 50%;
    padding: 0 40px;
}
.integrante .inte-txt h1{
    font-size: 35px;
    margin: 15px 0;
}
.integrante .inte-txt p{
    font-size: 20px;
    margin: 15px 0;
}
.integrante .inte-img{
    width: 50%;
}
.integrante .inte-img img{
    width: 100%;
    border-radius: 20px;
    margin: 0 auto;
}
.redes{
    text-align: center;
}
.redes i{
    margin: 0 10px;
    font-size: 20px;
    color: #000000;
    transition: 0.3s;
}
.redes i:hover{
    color: #00eaff;
}
.curso-desc .container{
    display: flex;
}
.desc-img{
    width: 50%;
}
.desc-img img{
    width: 300px;
}
.desc-txt{
    width: 50%;
}